<!DOCTYPE html>
<html ng-app='cac'>
  <head>



    <!-- Auth0's lock widget library -->
    <script type="text/javascript" src="https://cdn.auth0.com/js/lock-7.12.min.js"></script>
    <!-- AngularJS core -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
    <!-- Angular cookie wrapper library for client cookies -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular-cookies.js"></script>
    <!-- Angular's Router Library for SPA -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular-route.js"></script>
    <!-- Auth0's Angular SDK Library -->
    <script type="text/javascript" src="https://cdn.auth0.com/w2/auth0-angular-4.js"></script>
    <!-- Angular wrapper for localStorage and sessionStorage. Defaults to ng-cookies if not available -->
    <script src="http://cdn.rawgit.com/auth0/angular-storage/master/dist/angular-storage.js" type="text/javascript"> </script>
    <!-- Angular wrapper library for JWT-->
    <script src="http://cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js" type="text/javascript"> </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">




    <title>Create-a-Canine</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <h1>Create-a-Canine</h1>

    <div class="container" ng-controller="dogCtrl" ng-style="{{ containerStyle }}">

      <div id="dog">
        <div id="dogImage">
          <img src="imgs/layers/outline.png" class="layer">
          <img ng-repeat="layer in layers" ng-src="{{ layer.image }}" ng-style="{{ layer.style }}" class="layer">
        </div>

        <div id="dogList">
          <ul class="savedDog">
            <li ng-repeat="dog in dogs">
              <button ng-click="showDog(dog.dog)">View</button>
              <button ng-click="deleteDog(dog)">Delete</button>
              <span ng-click="dog.nameEdit = !dog.nameEdit" ng-hide="dog.nameEdit">{{dog.name}}</span>
              <input ng-model="dog.name" ng-show="dog.nameEdit" ui-type="text" ng-blur="dog.nameEdit = !dog.nameEdit" autofocus>
            </li>
            <li class="listButtons">
              <button ng-click="loadList()">Load List</button>
              <button ng-show="dogs.length" ng-click="saveList()">Save List</button>
              <button ng-show="dogs.length" ng-click="clearList()">Clear List</button>
            </li>
            <li>
              <button ng-click="login()">Log in to save this list to our database</button>
            </li>
            <li ng-repeat="msg in msgs">{{ msg }}</li>
          </ul>
        </div>

        <div class="dogbuttons">
          <button ng-click="showDog()">Create new dog</button>
          <button ng-click="saveDog()">Save Dog</button>
        </div>
      </div>

   </div>


    <!-- <script src="/app/**.js"></script> -->
    <script src="/app/app.js"></script>
  </body>
</html>
