<!DOCTYPE html>
<html ng-app='cac'>
  <head>
    <meta charset="utf-8">
    <title>Create-a-Canine</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <h1>Testing . . .</h1>

    <div id="currentDog" ng-controller="currentCtrl">
      <div id="dogImage">
        <img />
      </div>
    </div>

    <script src="lib/angular/angular.js"></script>

    <!-- <script src="/app/**.js"></script> -->
    <script src="app/index.js"></script>
  </body>
</html>
