<!DOCTYPE html>
<html ng-app='cac'>
  <head>
    <meta charset="utf-8">
    <title>Create-a-Canine</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <h1>Create-a-Canine</h1>

    <div class="container" ng-controller="dogCtrl" ng-style="{{ containerStyle }}">

      <div id="dog">
        <div id="dogImage">
          <img src="imgs/layers/outline.png" class="layer">
          <img ng-repeat="layer in layers" ng-src="{{ layer.image }}" ng-style="{{ layer.style }}" class="layer">
        </div>

        <div id="dogList">
          <ul class="savedDog">
            <li ng-repeat="dog in dogs">
              <button ng-click="showDog(dog.dog)">View</button>
              <button ng-click="deleteDog(dog)">Delete</button>
              <span ng-click="dog.nameEdit = !dog.nameEdit" ng-hide="dog.nameEdit">{{dog.name}}</span>
              <input ng-model="dog.name" ng-show="dog.nameEdit" ui-type="text" ng-blur="dog.nameEdit = !dog.nameEdit" autofocus>
            </li>
            <li class="listButtons">
              <button ng-click="loadList()">Load List</button>
              <button ng-show="dogs.length" ng-click="saveList()">Save List</button>
              <button ng-show="dogs.length" ng-click="clearList()">Clear List</button>
            </li>
            <li ng-repeat="msg in msgs">{{ msg }}</li>
          </ul>
        </div>

        <div class="dogbuttons">
          <button ng-click="showDog()">Create new dog</button>
          <button ng-click="saveDog()">Save Dog</button>
        </div>
      </div>

   </div>

    <script src="lib/angular/angular.js"></script>

    <!-- <script src="/app/**.js"></script> -->
    <script src="/app/currentDog.js"></script>
  </body>
</html>
